* {
    font-family: 'Sour Gummy', sans-serif;
}

h1 {
    font-family: 'Doto', sans-serif;
}

body {
    width: 100%;
    background-color: rgb(79, 134, 172) !important;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    background-size:cover;
    overflow: hidden;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}

.extra-background {
    background: url('img/wave.gif') no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    background-position: top;
    background-size: cover;
    z-index: -99; /* 確保它在主內容後面 */
}

form {
    position: absolute;
    width: 100%;
    max-width: 400px; /* 设置最大宽度 */
    padding: 20px;
    bottom: 31%;
    display: flex;
    flex-direction: column; /* 让输入框垂直排列 */
    justify-content: center;
    align-items: center;
    z-index: 3;
}

form input {
    margin: 5px;
}



#ent {
    position: absolute; 
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
    max-width: 500px; 
}

#ent img {

    object-fit: contain; 
    transition: 0.5s;
    transform: scale(0.8);
}

#ent img:hover {
    transform: scale(1.3) translateY(-1rem);
}



div .welcome {
    width: 300px;
    height: 300px;
    object-fit: cover;
    top: 10em;
    border-radius: 400px;
}

.welcome {
    /* opacity: 0.9; */
    position: absolute; 
    bottom: 10%; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%;
    max-width: 500px; 
    object-fit: cover;
}

div .icon {
    position: absolute;
    
    left: 69%;
    font-size: 1.3em;
    color: #162938;
    line-height: 43px;
    justify-content: center;
}

